/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/montserrat.ttf) format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat";
  background: #1a1e31;

}
